@import "~bootstrap/scss/bootstrap";

body {
    font-family: sans-serif;
    background: url(https://wallpaper.dog/large/5486331.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.title{
    color: goldenrod;
}

.cardtitle{

    background-color: goldenrod;
}

.cardbody{

    background-color: crimson;
}